<h1>Editing <%= @task.name %></h1>
<%= form_for([@event, @task], :url => event_task_path(@task.event_id, @task.id)) do |f| %>
<%= render :partial => 'form', :locals => {:f => f} %>
<% end %>
<br />
<button data-dismiss="modal" class="btn btn-primary" style="float:right" type="button">Back to Tasks</button>

