// Place all the styles related to the Tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#back_to_events {
	font-size: 1.5em;
	color: white;
	padding-top: 7.0px;
}

#container {
	margin-left: 20px;
}

#event_name h1 {
	
}